.lostCard,
.claimCard {
  height: 100%;
  width: 100%;
  background-color: #e7f7ff;
}

.lostContainerOuter {
  height:100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  display: grid;
  place-items: center;
  z-index: 999;
}

.closeIcon {
  position: absolute;
  right: 25px;
  top: 20px;
  cursor: pointer;
}

.lostContainer {
  position: relative;
  /* box-shadow: rgba(0, 0, 0, 0.585) 0px 7px 29px 0px; */
  background-color: rgba(255, 255, 255);
  height: 70%;
  border-radius: 15px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uploadImg {
  display: grid;
  place-items: center;
  width: 50%;
  height: 100%;
}

.divider {
  background: rgb(60, 60, 60);
  width: 0.5px;
  height: 100%;
}
.details {
  display: grid;
  place-items: center;
  padding: 0 20px;
  width: 50%;
}

.details > div {

  width: 100%;

}

form {
  width: 100%;
  margin: 20px 0 0 0;
}

.inputField {
  display: flex;
  align-items: center;
  width: 90%;
  height: 20px;
  padding: 8px;
  margin: 5px;
  border: none;
  background-color: rgba(228, 225, 225, 0.466);
  border-radius: 5px;
  gap: 20px;
}

.inputField > svg {
  font-size: larger;
}
.inputField > input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}

.btnGraphic {
  margin: 10px;
  background: linear-gradient(90.04deg, #019aff, rgb(21, 3, 65) 99.96%);
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 
}
.btnGraphic:hover{
  transform: scale(1.05);
  transition-timing-function: ease-in;
}
.submitBtn {
  margin: 10px auto;
  width: 100%;
  text-align: center;
}

.noAppear {
  appearance: none;
}


input::file-selector-button 
{
  border: none;
  outline: none;
  border-radius: 5px;
  background: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  margin-right: 10%;
}


input::file-selector-button:hover
{
  background-color: rgb(108, 165, 141);
  color: black;
}


.heading
{
  position: relative;
  top:20px;
  font-size:2rem;
  margin-bottom: 20px;
  font-weight: bolder;
}


@media only screen and (max-width: 983px) {

  .heading
  {
    font-size: 1.8rem;
  }

  .titleInfo
  {
    font-size: 0.7rem;
  }

}


@media only screen and (max-width: 930px) {
  .lostContainer
  {
    flex-direction: column;
    height: min-content;
    margin: 100px;
    padding-top: 60px 
  }
  .lostContainerOuter
  {
    height: min-content;
  }

  .fileInput
  {
    width: 100%;
  }

  .uploadImgInput
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}