.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-shadow: #959da533 0px 8px 24px;
  background-color: white;
}

.navBar > div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 90%;
}
.title {
  font-weight: bold;
  font-size: x-large;
  color: #019aff;
<<<<<<< HEAD
  text-decoration: none;
=======
>>>>>>> 7fc9fd56e1dbddbdb467098b7fe3addd73384d74
}

.color-blue:hover {
  color: #019aff;
}

.navItem {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.navButton {
  padding: 10px 20px;
  background-color: #019aff;
  color: white;
  border-radius: 5px;
}
